* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  background-color: beige;
}

.intro {
  position: relative;
  min-height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
}

.intro .logo {
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 30vh;
}

.intro .container {
  position: absolute;
  top: 32%;
  left: 50%;
  width: 70%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'cinzel', arial, sans-serif;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.intro .container .about {
  font-size: 2vh;
  letter-spacing: 1px;
}

.intro .button {
  position: absolute;
  top: 87%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid black;
  padding: 10px 30px;
  font-family: 'cinzel', arial, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 2.5vh;
  -webkit-transition: .3s;
  transition: .3s;
}

.intro .button:hover {
  color: beige;
  background-color: black;
}

@media (min-width: 533px) and (orientation: landscape) {
  .intro .logo {
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50vh;
  }
  .intro .container {
    top: 40%;
    left: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 50%;
  }
  .intro .container .about {
    font-size: 2.7vh;
  }
  .intro .button {
    top: 70%;
    left: 70%;
    font-size: 3vh;
    padding: 15px 40px;
  }
}

.contact {
  position: relative;
  background-color: beige;
  width: 100%;
  margin: 30px auto 20px auto;
  max-width: 1920px;
  color: black;
  font-family: 'cinzel', arial, sans-serif;
  text-align: center;
  border-top: 2px solid black;
  padding: 40px 0;
}

.contact .container1 {
  font-weight: 700;
  letter-spacing: 1px;
}

.contact .container1 h1 {
  font-size: 13px;
  margin: 15px 0;
}

.contact .container1 p {
  font-size: 13px;
  margin: 15px 0;
}

@media (min-width: 360px) {
  .contact .container1 h1 {
    font-size: 14px;
  }
  .contact .container1 p {
    font-size: 14px;
  }
}

@media (min-width: 411px) {
  .contact .container1 h1 {
    font-size: 15px;
  }
  .contact .container1 p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .contact .container1 h1 {
    font-size: 22px;
  }
  .contact .container1 p {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .contact .container1 h1 {
    font-size: 25px;
  }
  .contact .container1 p {
    font-size: 25px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  .contact .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .container1 h1 {
    font-size: 11px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact .container1 p {
    font-size: 11px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .contact .container1 h1 {
    font-size: 12px;
  }
  .contact .container1 p {
    font-size: 12px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  .contact .container1 h1 {
    font-size: 13px;
  }
  .contact .container1 p {
    font-size: 13px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .contact .container1 h1 {
    font-size: 18px;
  }
  .contact .container1 p {
    font-size: 18px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .contact .container1 h1 {
    font-size: 21px;
  }
  .contact .container1 p {
    font-size: 21px;
  }
}

@media (min-width: 1600px) and (orientation: landscape) {
  .contact .container1 h1 {
    font-size: 22px;
  }
  .contact .container1 p {
    font-size: 22px;
  }
}

footer {
  padding: 20px 0;
  font-family: arial;
  font-size: 2vh;
  text-align: center;
  background-color: beige;
  border-top: 2px solid black;
}

a {
  text-decoration: none;
}
